.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  display: grid;
  grid-template-columns: 80% 20%;
}

/*-------------------GAME SCREEN STUFF----------------------------*/
.gameScreen {
  width: 680px;
  height: 680px;
  display: flex;
  position: relative;
}

.tile {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
}

.wall {
  background-color: rgb(119, 59, 3);
}

.space {
  background-color: green;
}

.player {
  height: 25px;
  width: 25px;
  background-color: blue;
  position: absolute;
}

.bomb {
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: red;
}

/* ------------------SCORE DISPLAY STUFF-----------------------------*/
.scoreDisplay {
  background-color: red;
  width: 10vh;
  height: 100px;
}

/* -------------------INSTRUCTION STUFF-------------------------------*/
.instructions {
  background-color: aqua;
  width: 10vh;
  height: 300px;
}
