body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  /* background-image: url("https://media4.giphy.com/media/xT39D7Tp84ZyeG5Xi0/giphy.gif?cid=ecf05e47kzryhdjvblyhgl6c7cqdp1adbjk0g1uh9xcpbc99&ep=v1_gifs_related&rid=giphy.gif&ct=g");
  background-size: cover; */

  background-image: url("https://media4.giphy.com/media/YR1SITLjG5B0P4sUr3/giphy.gif?cid=ecf05e47twuhn8qjc5mho64uix68bel7n87nfsabsa2ha6cf&ep=v1_gifs_related&rid=giphy.gif&ct=g");

  backdrop-filter: hue-rotate(120deg) blur(40px);
  width: 100vw;
  height: 100vh;
}

.screen {
  margin: 0px auto;
  padding: 0px 200px;

  display: flex;
  justify-content: space-evenly;
}

.game {
  display: grid;
}

.hud {
  width: auto;
  height: 60px;

  background-color: rgb(176, 176, 176);
  opacity: 0.5;
  margin-bottom: 10px;
  border-radius: 10px;
  /* border: 4px solid black; */

  /* backdrop-filter: blur(2px); */
}

.info {
  width: auto;
  height: 100px;
  background-color: rgb(176, 176, 176);
  opacity: 0.5;
  margin-top: 10px;
  border-radius: 10px;
  /* border: 4px solid black; */
  /* backdrop-filter: blur(2px); */
}

.scoreBoard {
  width: 400px;
  height: auto;
  background-color: rgb(176, 176, 176);
  opacity: 0.5;
  border-radius: 10px;
  /* border: 4px solid black; */
  /* backdrop-filter: blur(10px); */
}

/*-------------------GAME SCREEN STUFF----------------------------*/
.gameScreen {
  display: flex;
  position: relative;
  background-color: rgb(56, 135, 0);
}

.tile {
  box-sizing: border-box;
}

.wall {
  background: url("../assets/Sprites.png") -96px -96px;
}

.breakable-wall {
  background: url("../assets/Sprites.png") -128px -96px;
}

.space {
  background-color: green;
  background: url("../assets/Sprites.png") -160px -160px;
}

.player {
  background-color: rgb(255, 255, 0);
  position: absolute;
  background: url("../assets/Sprites.png") 0px 0px;
  z-index: 10;
}

.bomb {
  height: 32px;
  width: 32px;
  position: absolute;
  background: url("../assets/Sprites.png") 0px -96px;
}

/* ------------------SCORE DISPLAY STUFF-----------------------------*/
.scoreDisplay {
  background-color: red;
  width: 10vh;
  height: 100px;
}

/* -------------------INSTRUCTION STUFF-------------------------------*/
.instructions {
  background-color: aqua;
  width: 10vh;
  height: 300px;
}

.explode {
  height: 32px;
  width: 32px;
  position: absolute;
  background: url("../assets/Sprites.png") -32px -96px;
}
