body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.game {
  display: grid;
  grid-template-columns: 80% 20%;
}

/*-------------------GAME SCREEN STUFF----------------------------*/
.gameScreen {
  display: flex;
  position: relative;
}

.tile {
  box-sizing: border-box;
}

.wall {
  background: url("../tilemap/Sprites.png") -96px -96px;
}

.breakable-wall {
  background: url("../tilemap/Sprites.png") -128px -96px;
}

.space {
  background-color: green;
  background: url("../tilemap/Sprites.png") -160px -160px;
}

.player {
  background-color: rgb(255, 255, 0);
  position: absolute;
  background: url("../tilemap/Sprites.png") 0px 0px;
  z-index: 10;
}

.bomb {
  height: 32px;
  width: 32px;
  position: absolute;
  background: url("../tilemap/Sprites.png") 0px -96px;
}

/* ------------------SCORE DISPLAY STUFF-----------------------------*/
.scoreDisplay {
  background-color: red;
  width: 10vh;
  height: 100px;
}

/* -------------------INSTRUCTION STUFF-------------------------------*/
.instructions {
  background-color: aqua;
  width: 10vh;
  height: 300px;
}

.explode {
  height: 32px;
  width: 32px;
  position: absolute;
  background: url("../tilemap/Sprites.png") -32px -96px;
}
